sw-sub-menu{
	bottom: 0px;
	position: absolute;
	width: calc(100% + 15px);
	margin-left: -15px;
	display: block;
	height: 60%;
	background-color: #DDD;
	overflow: hidden;
}

sw-sub-menu:before{
	content: '';
	height: 100%;
	position: absolute;
	width: 50px;
	left: -10px;
	transform: skew(-45deg);
	transform-origin: 100% 0;
/*	opacity: 0.5;*/
	background-color: white;
	z-index: 5;
}

sw-sub-menu>button.active{
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	z-index: 2;
/*	text-shadow: 0px -1px 1px rgba(0,0,0,0.3);*/
	padding-top: 5px !important;
}
sw-sub-menu>md-menu>button{
	position: absolute;
	top: -5px;
	padding-left: 20px;
}

sw-sub-menu>button{
	transition: 0.3s !important;
	float: left;
	height: 100%;
/*	padding: 19px 15px !important;*/
/*	line-height: 0px;*/
	margin: 0px !important;
/*	outline: 1px solid red;*/
	border-radius: 0px !important;
}

sw-sub-menu>button:first-child{
	padding-left: 50px;
	padding-right: 25px;
}

.method-border{
	height: 8px; 
	margin-top: -1px; 
	z-index: 10;
	position: relative;
	transition: 0.2s;
}


/*

sw-sub-menu:before{
	content: '';
	height: 100%;
	position: absolute;
	width: 100px;
	transform: skew(-45deg);
	transform-origin: 100% 0;
	
	background-color: #DDD;
}*/
