sw-icon-container{
	display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
	margin-left: 5px;
/*	outline: 1px solid red;*/
}

sw-icon-container .md-icon-button{
	position: absolute !important;
	top: -13px;
	left: -22px;
/*	outline: 1px solid cyan;*/
	pointer-events: none;
}
sw-icon-container .md-icon-button md-icon{
/*	outline: 1px solid yellow;*/
	pointer-events: all;
}