<div sw-layout='row' border='bottom'>
	<sw-title>
		/employee/{id}
	</sw-title>
	<div style="width: 100%">
		<sw-sub-menu>
			<md-button 
					   ng-repeat='operation in vm.operations' 
					   ng-class='{active: vm.operation == operation}' 
					   ng-click='vm.goTo(operation)' 
					   operation='{{operation}}' 
					   >
				{{operation}}
			</md-button>
			<md-button>+</md-button>
		</sw-sub-menu>
	</div>
</div>
<div class='method-border' operation='{{vm.operation}}'></div>
<div ui-view></div>