html, body{
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}

body>div[ng-include]{
	display: block;
	position: relative;
	height: 100%;
}

[sw-add-button]{
	position: absolute;
	right: 40px;
}


[border='bottom']{
	border-bottom: 1px solid #DDD;
}


[operation]{
	color: white;
	font-weight: bold;
}

[operation='get']{ background-color: #6bbd5b; }
[operation='put']{ background-color: #9b708b; }
[operation='post']{ background-color: #248fb2; }
[operation='delete']{ background-color: #e27a7a; }
[operation='patch']{ background-color: #b46697; }

[operation='get']:hover { background-color: #6bbd5b !important; }
[operation='put']:hover { background-color: #9b708b !important; }
[operation='post']:hover { background-color: #248fb2 !important; }
[operation='delete']:hover { background-color: #e27a7a !important; }
[operation='patch']:hover { background-color: #b46697 !important; }